# dependencies
node_modules/
**/node_modules/

# environment variables
.env
.env.local
.env.*.local

# Firebase service account key
backend/src/config/service-account-key.json

# build outputs
/build
/dist
/frontend/client/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.log

# package lock (optional)
package-lock.json
**/package-lock.json